.navbar-custom {
  color: rgb(236, 236, 236);
  margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(236, 236, 236) !important;
}

.navbar-custom:hover {
  text-decoration: none;
  color: black;
}

.img-navbar {
  width: 350px;
  height: 80px;
}