.card-subtitle{
    font-size: 12px;
}

.booksCover {
    width: 100%;
    height: 200px;
}

.books-search{
    margin-top: 30px;
}

.detail-cover {
    width: 220px;
    height: 300px;
}

.detail-synopsis{
    text-align: justify;
}

.books-content{
    margin-top: 30px;
}

.books-search{
    margin-top: 30px;
}

.button-cart {
    margin-left: 5px;
}

.font-price {
    color: red;
    font-weight: bold;
}